// Distribution Section
// Normal Wide Desktop Screens
section#distribution {
  .grid(80%);
  padding: 40px 10%;
  background-color: @white;
  border-top: 1px solid lighten(@gray, 20%);
  border-bottom: 1px solid @gray;
  font-size: 1.4em;

  section#web,
  section#desktop,
  section#mobile{
    .grid(31%);
    .font-smooth;
    margin: 1em 1.16%;
    h2 {
      font-weight: 200;
    }
  }
  section#web {
    .launch-now {
      display: inline-block;
      background-color: @red;
      padding: 1.2em;
      margin: 1em;
      color: @white;
      text-decoration: none;
      transition: all 130ms linear;
      box-shadow: 0px 0px 8px fade(@gray, 33%);
      &:hover {
        background-color: lighten(@red, 2%);
        box-shadow:0px 4px 6px fade(@gray, 339%);
        color: #fff;
      }
    }
    em {
      font-size: 0.8em;
    }

  }
  section#desktop {
    .download {
      .grid(100%);
      .clear-fix();
      img {
        max-width: 80px;
        width: 100%;
        height: auto;
        .grid(20%);
        transition: all 130ms linear;
        filter: drop-shadow(0px 0px 1px fade(@gray, 239%));
      }
      span {
        .grid(70%);
        margin: 0 5%;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        em {
          font-size: 0.8em;
        }
      }
      &:hover {
        img {
          filter: drop-shadow(0px 4px 3px fade(@gray, 53%));
        }
      }
    }
  }
}

// Distribution Section
// Smaller Screens and Mobile
@media only screen and (max-width : 1023px) {
  section#distribution {
    section#web,
    section#desktop,
    section#mobile{
      .grid(90%);
      margin: 1em 5% 0 5%;
      text-align: center;
    }
    section#desktop {
      .download {
        display: block;
        width: 300px;
        height: auto;
        margin: 1.5em auto 0;
        float: none;
        clear: both;
      }
    }
  }
}


@media only screen and (max-width : 399px) {
  section#distribution {
    section#desktop {
      .download {
        .grid(100%);
        img{
          max-width: 100%;
          width: 40%;
          margin: 1em 30%;
        }
        span {
          .grid(100%);
          margin-top: 2em;
        }
      }
    }
  }
}