section#features {
  .grid(100%);
  .font-smooth;
  padding: 2em 0 4em;
  background-color: @dark-gray;
  background-image: linear-gradient(-45deg, darken(@gray, 20%) 0%, @dark-gray 100%);
  color: @white;
  font-size: 1.2em;
  header {
    text-align: center;
    width: 90%;
    margin: 1em 5%;
  }
  section#screenshot {
    .grid(50%);
    float: right;
    overflow: hidden;
    .audio-presenter {
      width: 80%;
      margin: 0 0 0 20%;
    }
    img {
      width: 80%;
      height: auto;
      margin-top: 0;
      margin-left: 20%;
    }
  }
  section#feature-list {
    .grid(40%);
    margin-right: 5%;
    margin-left: 5%;
    float: right;
    ul{
      max-width: 500px;
    }
    li {
      margin-bottom: 1em;
      font-size: 1.4em;
    }
  }
}

@media only screen and (max-width : 1200px) {
  section#features {
    section#screenshot {
      .grid(90%);
      margin-right: 5%;
      margin-left: 5%;
      img {
        width: 100%;
        margin: 1em 0 0 0;
        height: auto;
      }
    }
    section#feature-list {
      .grid(80%);
      margin-right: 10%;
      margin-left: 10%;
    }
  }
}